# CMSE202-Project1

In [9]:
import pandas as pd
from sodapy import Socrata
import matplotlib.pyplot as plt
%matplotlib inline

MyAppToken = 'rEPOXGSegb5AUSutACzeimRkD'
client = Socrata("data.cityofchicago.org", MyAppToken)

results = client.get("ijzp-q8t2", limit=100)

df = pd.DataFrame.from_records(results)

In [10]:
data = df.drop(columns=[':@computed_region_43wa_7qmu', ':@computed_region_6mkv_f3dw',
       ':@computed_region_awaf_s7ux', ':@computed_region_bdys_3d7i',
       ':@computed_region_d3ds_rm58', ':@computed_region_d9mm_jgwp',
       ':@computed_region_rpca_8um6', ':@computed_region_vrxf_vc4k'])

data.head()

,arrest,beat,block,case_number,community_area,date,description,district,domestic,fbi_code,...,latitude,location,location_description,longitude,primary_type,updated_on,ward,x_coordinate,y_coordinate,year
0,False,2424,074XX N WINCHESTER AVE,JD198885,1,2020-03-30T23:55:00.000,FINANCIAL IDENTITY THEFT OVER $ 300,024,False,11,...,42.017111558,"{'latitude': '42.017111558', 'longitude': '-87...",NaN,-87.679058479,DECEPTIVE PRACTICE,2020-04-06T15:47:29.000,49,1162043,1949505,2020
1,False,0323,071XX S RHODES AVE,JD198637,69,2020-03-30T23:45:00.000,ARMED - HANDGUN,003,False,03,...,41.76477814,"{'latitude': '41.76477814', 'longitude': '-87....",SIDEWALK,-87.611613678,ROBBERY,2020-04-06T15:47:29.000,6,1181144,1857702,2020
2,True,0411,011XX E 81ST ST,JD198648,45,2020-03-30T23:33:00.000,UNLAWFUL USE - HANDGUN,004,False,15,...,41.74771987,"{'latitude': '41.74771987', 'longitude': '-87....",ALLEY,-87.596956093,WEAPONS VIOLATION,2020-04-06T15:47:29.000,8,1185196,1851520,2020
3,False,1234,022XX W 21ST ST,JD198629,31,2020-03-30T23:32:00.000,UNLAWFUL USE - HANDGUN,012,False,15,...,41.853905005,"{'latitude': '41.853905005', 'longitude': '-87...",RESIDENCE - YARD (FRONT / BACK),-87.682031225,WEAPONS VIOLATION,2020-04-06T15:47:29.000,25,1161687,1890026,2020
4,False,0111,001XX N STATE ST,JD198626,32,2020-03-30T23:30:00.000,AGGRAVATED - KNIFE / CUTTING INSTRUMENT,001,False,04A,...,41.884268748,"{'latitude': '41.884268748', 'longitude': '-87...",SIDEWALK,-87.627904966,ASSAULT,2020-04-06T15:47:29.000,42,1176342,1901207,2020

In [2]:
## this part is data analyze 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
data =  pd.read_csv("crimes_2015_2020.csv" , na_values = [None, 'NaN','Nothing'], header = 0) # the data is the 2015 data to 2020 
data.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10179775,HY368117,01/01/2015 12:00:00 AM,022XX S SAWYER AVE,0266,CRIMINAL SEXUAL ASSAULT,PREDATORY,APARTMENT,False,True,...,12.0,30.0,02,1155042.0,1888945.0,2015,04/04/2020 03:44:34 PM,41.851074,-87.70645,"(41.851074338, -87.706449961)"
1,11768614,JC361321,01/01/2015 12:00:00 AM,030XX W 41ST ST,1751,OFFENSE INVOLVING CHILDREN,CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,APARTMENT,False,True,...,12.0,58.0,17,NaN,NaN,2015,03/23/2020 03:47:32 PM,NaN,NaN,NaN
2,11752913,JC342515,01/01/2015 12:00:00 AM,030XX W 41ST ST,1752,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,APARTMENT,False,False,...,12.0,58.0,17,NaN,NaN,2015,03/23/2020 03:47:32 PM,NaN,NaN,NaN
3,11993485,JD166700,01/01/2015 12:00:00 AM,095XX S BENNETT AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,7.0,51.0,11,NaN,NaN,2015,02/28/2020 03:48:46 PM,NaN,NaN,NaN
4,11269813,JB195608,01/01/2015 12:00:00 AM,029XX N LOWELL AVE,1754,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,RESIDENCE,False,True,...,31.0,20.0,02,NaN,NaN,2015,02/25/2020 03:47:28 PM,NaN,NaN,NaN

In [5]:
data.drop_duplicates(subset=['ID', 'Case Number'], inplace=True)